<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <form method="post" action="/">
    	<label>administer</label>
    	<input type="text" name="admin_id">
    	<input type="password" name="admin_pass">
    	<button>submit</button>
    </form>
    <form method="post" action="/staff_pass">
    	<label>staff</label>
    	<input type="text" name="staff_id">
    	<input type="password" name="staff_pass">
    	<button>submit</button>
    </form>
</body>
</html>