<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<!-- stylesheet -->
		<link rel="stylesheet" type="text/css" href="/style.css">
		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
		<script src="float-panel.js"></script>
</head>
<body>
	<%-include("header")-%>
	<div class="informationdiv">
	<%if(info=="staff"){%>	
	<div class="forms">
	<form method="post" action="/staff_sat" >
		<h4> views staff with more customers </h4><br>
		<h7>Enter the date interval you want to view</h7><br><br>
		<label>from</label><input type="date" name="invoice_date" required="required">><br><br>
		<label>to</label><input type="date" name="invoice_dates" required="required">><br><br>
		<button>submit</button>
	</form>
</div>
    <%}%>
    
    <%if(info=="products"){%>	
    <div class="forms">
	<h4>look for the most sold product</h4><br>
	<form method="post" action="/statastics/products" class="form-group">
		<h6>enter the date</h6><br><label>from</label><input type="date" style="margin-left: 10px" name="invoice_date" required="required">><br>
		<label>to</label><input style="margin-left: 30px" type="date" name="invoice_dates" required="required">><br><br>
		<h6>company name</h6><input type="text" name="company_name" ><br><br>
		<h6>type (optinal)</h6>
		<label>medicine</label><input type="radio" name="products_type" value="medicine">
		<label>cosmetics</label><input type="radio" name="products_type" value="cosmetics">
		<label>healthcare</label><input type="radio" name="products_type" value="healthcare"><br><br>
		<button>submit</button>
	</form  >
</div>
<%}%>

<%if(info=="customer"){%>
<div class="forms">	
	<form method="post" action="/statastics/customer">
		<h4>view no of customers</h4><br>
		<label>enter the date from</label><input type="date" name="bill_date" required="required">><br><br>
		<label>to</label><input type="date" name="bill_dates" required="required">><br><br>
		<button >submit</button>
	</form>
</div>
	<%}%>					
	</div>				
	
</body>
</html>